<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://services.cloud.mongodb.com</string>
	<key>appId</key>
	<string>PUT YOUR APP ID HERE</string>
</dict>
</plist>
